<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ML</title>
  </head>
  <body background="static\61769.jpg">
      <img src="static\ml_logo2.png"/>
      <h3>Artificial Intelligence</h3>
      <p><em>This is a Machine Learning Service, intended to give a predicted Used Car Price based on Year of Purchase and Model <strong>ONLY</strong>.</em></p>
      <p><em>The algorithm used a supervised, regression model, and a data set from kaggle, containing average used cars' prices (Sedan and MPV) in daekho.</em></p>
      <br>
      <p>The predicted price of your used car is <strong>PHP{{ output }}.</strong></p>
  </body>
</html>
